@charset "utf-8";

/* layout
========================================================================== */

body {
	background: #fff;
	color: #000;
}



/* footer
========================================================================== */

/* page up
-------------------------------------------------------------------------- */

#pageup {
	display: none;
}